.top_col {
	float: left;
   	padding: 10px;
}

.block-team-member-small {
  padding: 3px;
  }
  .block-team-member-small figure img {
    width: 53px; }

.center_text{
	float: right;
	padding: 30px;
}
