<!DOCTYPE html>
<html>
    <head>
        <title>AntoDent</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="static/datetimepicker/jquery.datetimepicker.css"/>

        <link rel="stylesheet" type="text/css" href="static/css/table100.css">
        <link rel="stylesheet" href="static/css/bootstrap.min.css"> 
        <link rel="stylesheet" href="static/fonts/icomoon/style.css">
        <link rel="stylesheet" href="static/css/styleIndex.css">
        <link rel="stylesheet" href="static/css/icon.css">
    </head>

    <body>
    <main>
    <div class="col-12">
        <div class="site-logo">
            <h1>
                <a class="text-black"><span class="text-primary">Anto</span>Dent</a>
            </h1>
        </div>

        <form method="POST">
            <div class="navigation">
                <a class="button" href="" >
                    <img src="/static/images/icons/user_ico.png" id="pressed" >
                    <input class="logout" type="submit" name="logoutBtn" value= "LOGOUT">
                </a>
            </div>
        </form>
    </div>


    <div class="site-section" id="team-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12">
            <div class="block-heading-1">
              <span>Quick and easy!</span>
              <h2>Make your appointment right now!</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0" data-aos="fade-up">
            <div class="block-team-member-1 text-center rounded">
              <figure>
                <img src="static/images/doc_person_1.jpg" alt="Image" class="img-fluid rounded-circle">
              </figure>
              <h3 class="font-size-20 text-black">Bob Carry</h3>
              <span class="d-block font-gray-5 letter-spacing-1 text-uppercase font-size-12 mb-3">Doctor</span>
            <div id="filters">
                <form method="post" action="?">
                    <div>
                        <label for="filter-date">Date</label>
                        <input type="text" 
                               name="appointment-bob" 
                               id="filter-date-bob" required />
                        <button class="login100-form-btn">
                            Submit
                        </button>
                    </div>
                    <fieldset>
                      <!-- <legend>bllaaa.</legend> -->
                      <p>
                         <label>Select your operation</label>
                         <select id = "opList" name="operationSelector">
                            <option value = "0">Please select...</option>
                            {% for operation in operationList %}
                           <option value = "{{operation.id}}">{{ operation.name }}</option>
                           {% endfor %}
                         </select>
                      </p>
                    </fieldset>
                </form>
            </div>

            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
            <div class="block-team-member-1 text-center rounded">
              <figure>
                <img src="static/images/doc_person_2.jpg" alt="Image" class="img-fluid rounded-circle">
              </figure>
              <h3 class="font-size-20 text-black">Jean Smith</h3>
              <span class="d-block font-gray-5 letter-spacing-1 text-uppercase font-size-12 mb-3">Doctor</span>
            <div id="filters">
                <form method="post" action="?">
                    <div>
                        <label for="filter-date">Date</label>
                        <input type="text" 
                               name="appointment-jean" 
                               id="filter-date-jean" required />
                        <button class="login100-form-btn">
                            Submit
                        </button>                        
                    </div>

                    <fieldset>
                      <!-- <legend>bllaaa.</legend> -->
                      <p>
                         <label>Select your operation</label>
                         <select id = "opList" name="operationSelector">
                            <option value = "0">Please select...</option>
                            {% for operation in operationList %}
                           <option value = "{{operation.id}}">{{ operation.name }}</option>
                           {% endfor %}
                         </select>
                      </p>
                    </fieldset>
                </form>
            </div>
           </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0" data-aos="fade-up" data-aos-delay="200">
            <div class="block-team-member-1 text-center rounded">
              <figure>
                <img src="static/images/doc_person_3.jpg" alt="Image" class="img-fluid rounded-circle">
              </figure>
              <h3 class="font-size-20 text-black">Ricky Fisher</h3>
              <span class="d-block font-gray-5 letter-spacing-1 text-uppercase font-size-12 mb-3">Dentist</span>
            <div id="filters">
                <form method="post" action="?">
                    <div>
                        <label for="filter-date">Date</label>
                        <input type="text" 
                               name="appointment-rick" 
                               id="filter-date-rick" required />
                        <button class="login100-form-btn">
                        Submit
                    </button>
                    </div>
                    <fieldset>
                      <!-- <legend>bllaaa.</legend> -->
                      <p>
                         <label>Select your operation</label>
                         <select id = "opList" name="operationSelector">
                            <option value = "0">Please select...</option>
                            {% for operation in operationList %}
                           <option value = "{{operation.id}}">{{ operation.name }}</option>
                           {% endfor %}
                         </select>
                      </p>
                    </fieldset>
                </form>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="limiter">
        <div class="container-table100">
          <div class="wrap-table100">
            <div class="table100 ver1 m-b-110">
              <div class="table100-head">
                <table>
                  <thead>
                    <tr class="row100 head">
                      <th class="cell100 column1">Operation</th>
                      <th class="cell100 column2">Price</th>
                    </tr>
                  </thead>
                </table>
              </div>

              <div class="table100-body js-pscroll">
                <table>
                  <tbody>

                    {% for operation in operationList %}
                    <tr class="row100 body">
                      <td class="cell100 column1">{{operation.name}}</td>
                      <td class="cell100 column2">{{operation.price}}</td>
                    </tr>
                    {% endfor %}

                  </tbody>
                </table>
              </div>   
          </div>
        </div>
      </div>
    </div>


    <div class="limiter">
        <div class="block-heading-1">
            <h2>Your Current Discounts</h2>
        </div>
        <div class="container-table100">
          <div class="wrap-table100">
            <div class="table100 ver1 m-b-110">
              <div class="table100-head">
                <table>
                  <thead>
                    <tr class="row100 head">
                      <th class="cell100 column1">Operation</th>
                      <th class="cell100 column2">Price</th>
                      <th class="cell100 column2">Your Discount Price</th>
                    </tr>
                  </thead>
                </table>
              </div>

              <div class="table100-body js-pscroll">
                <table>
                  <tbody>

                    {% for operation in operationDiscountList %}
                    <tr class="row100 body">
                      <td class="cell100 column1">{{operation.name}}</td>
                      <td class="cell100 column2">{{operation.price}}</td>
                      <td class="cell100 column2">{{operation.discountPrice}}</td>
                    </tr>
                    {% endfor %}

                  </tbody>
                </table>
              </div>   
          </div>
        </div>
      </div>
    </div>

    </main>

    <script src="static/datetimepicker/jquery.js"></script>
    <script src="static/datetimepicker/build/jquery.datetimepicker.full.js"></script>

    <script>
        /*jslint browser:true*/
        /*global jQuery, document*/

        jQuery(document).ready(function () {
            'use strict';

            jQuery('#filter-date-bob, \
                    #filter-date-jean, \
                    #filter-date-rick').datetimepicker({
                        onGenerate:function( ct ){
                        jQuery(this).find('.xdsoft_date.xdsoft_weekend')
                          .addClass('xdsoft_disabled');
                      },
                        weekends:['01.01.2014','02.01.2014','03.01.2014',
                                  '04.01.2014','05.01.2014','06.01.2014'],
                        allowTimes:[
                          '09:00', '10:00', '11:00', '12:00', '13:00', '14:00', 
                          '15:00', '16:00'
                         ],
                        dayOfWeek:[
                            "Mo", "Di", "Mi", 
                            "Do", "Fr", 
                       ]
                });
        });
    </script>
    </body>
</html>     

    © 2020 GitHub, Inc.
    Terms
    Privacy
    Security
    Status
    Help

    Contact GitHub
    Pricing
    API
    Training
    Blog
    About

